{% extends 'base.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

   <div class = "partenaire">
    </div>

    {{ include('partenaires/_form.html.twig') }}
   
<div class = "retour">
    <a class = "lien" href="{{ path('app_partenaires_index') }}">Retourner à la liste des partenaires</a>
</div>
{% endblock %}
