{% extends 'base.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

<h1 class = "partenaire">Créer un nouveau partenaire</h1>
  <p> 
    {{ include('partenaires/_form.html.twig') }}
   </p>
<div class = "retour">
    <a class = "lien" href="{{ path('app_partenaires_index') }}">Retourner à la liste des partenaires</a>
</div>
{% endblock %}
