{{ form_start(form) }}
    {{ form_widget(form) }}
    <div> 
        <label name="email">Email de la structure</label>
        <input type="text" name="email"/> 
        <label name="password">Mot de passe de la structure</label>
        <input type="password" name="password"/> 
        <input type="hidden" name="role" value="ROLE_STRUC" /> 
    </div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
