{% extends 'base.html.twig' %}

{% block title %}Listes des Structures{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

    <h1>Listes des structures</h1>

{% for structure in structures %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ structure.nom }}</td>
            </tr>
               <tr>
                <th>Description</th>
                <td>{{ structure.Description }}</td>
            </tr>        
        {% else %}
            <tr>
                <td colspan="5">Pas de structures trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    {% if app.user.roles[0] is same as("ROLE_ADMIN") %}

    <a href="{{ path('app_structures_new') }}">Créer une nouvelle structure</a>

{% endif %}

{% endblock %}
