{% extends 'base.html.twig' %}

{% block title %}Nouvelles structures{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

<h1 class = "structure">Créer une nouvelle structure</h1>

   <p> 

    {{ include('structures/_form.html.twig') }}
</p>
<div class = "retour">
    <a class = "lien" href="{{ path('app_structures_index') }}">Retourner à la liste des structures</a>
</div>
{% endblock %}
