{% extends 'base.html.twig' %}

{% block title %}Nouvelles structures{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

    <div class = "partenaire">
    </div>

    {{ include('structures/_form.html.twig') }}

<div class = "retour">
    <a class = "lien" href="{{ path('app_structures_index') }}">Retourner à la liste</a>
</div>
{% endblock %}
