<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="Fitness Lady" name="author">
        <meta name="FL : Fitness Lady. Ce site permet de gérer les partenaires et structures de fitness lady" content="Fitness Lady" >
        <title>{% block title %}Fitness Lady{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block body %}    {% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %} 
    </body>
</html>
