{% extends 'base.html.twig' %}

{% block title %}New Perms{% endblock %}

{% block body %}
    <h1>Create new Perms</h1>

    {{ include('perms/_form.html.twig') }}

    <a href="{{ path('app_perms_index') }}">back to list</a>
{% endblock %}
