{% extends 'base.html.twig' %}

{% block title %}Nouvelle permissions{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

    <h1 class = "perms">Créer une nouvelle permission</h1>
    <p>
    {{ include('perms/_form.html.twig') }}
    </p>

<div class = "retour">
    <a class = "lien" href="{{ path('app_perms_index') }}">Retourner à la liste</a>
    </div>
{% endblock %}
